<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News Aggregator</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.0.1/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100">
    <header class="bg-white shadow">
        <nav class="container mx-auto px-6 py-3">
            <div class="flex flex-col md:flex-row md:justify-between md:items-center">
                <div class="flex justify-between items-center">
                    <div class="text-2xl font-bold text-gray-800 md:text-3xl">
                        <a href="#">NewsAggregator</a>
                    </div>
                    <!-- Mobile menu button -->
                    <div class="md:hidden">
                        <button type="button" class="text-gray-500 hover:text-gray-600 focus:outline-none focus:text-gray-600">
                            <svg viewBox="0 0 24 24" fill="currentColor" class="h-6 w-6">
                                <path d="M4 5h16v2H4z"></path>
                                <path d="M4 11h16v2H4z"></path>
                                <path d="M4 17h16v2H4z"></path>
                            </svg>
                        </button>
                    </div>
                </div>
                <!-- Site navigation -->
                <div class="md:flex items-center">
                    <div class="flex flex-col md:flex-row md:mx-6">
                        {% if user.is_authenticated %}
                        <a class="my-1 text-sm text-gray-700 leading-5 hover:text-blue-600 md:mx-4 md:my-0" href="#">Welcome, {{user.username}}</a>
                        <a class="my-1 text-sm text-gray-700 leading-5 hover:text-blue-600 md:mx-4 md:my-0" href="/">Home</a>
                        <a class="my-1 text-sm text-gray-700 leading-5 hover:text-blue-600 md:mx-4 md:my-0" href="/saved">Saved</a>
                        <a class="my-1 text-sm text-gray-700 leading-5 hover:text-blue-600 md:mx-4 md:my-0" href="/logout">Logout</a>
                        {% else %}
                        <!-- show something else  -->
                        <a class="my-1 text-sm text-gray-700 leading-5 hover:text-blue-600 md:mx-4 md:my-0" href="#">Home</a>
                        <a class="my-1 text-sm text-gray-700 leading-5 hover:text-blue-600 md:mx-4 md:my-0" href="/login">Login</a>
                        <a class="my-1 text-sm text-gray-700 leading-5 hover:text-blue-600 md:mx-4 md:my-0" href="/signup">Signup</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <main class="container mx-auto px-6 pt-6">

        <!-- News Categories Section -->
        <!-- Example for one category, replicate for others -->
        <section class="mt-6">
            <h2 class="text-2xl font-bold mb-2">Saved News</h2>
            <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-6">
                <!-- News item -->
                {% for news in saved_news reversed %}
                <article class="bg-white shadow-lg rounded-lg overflow-hidden">
                    <img class="w-full h-48 object-cover" src="{{news.image_url}}" alt="news">
                    <div class="p-4">
                        <h3 class="font-bold text-lg mb-2"><a href="{{news.link}}">{{news.title}}</a></h3>
                        <p class="text-gray-700 text-sm">
                            {{news.description}}
                        </p>

                        <form action="/remove-post" method="POST">
                            {% csrf_token %}

                            <input type="text" name="title" value="{{news.title}}" style="display: none;">
                            <input type="text" name="image" value="{{news.image_url}}" style="display: none;">
                            <input type="text" name="url" value="{{news.link}}" style="display: none;">
                            <input type="text" name="description" value="{{news.description}}" style="display: none;">

                            <button type="submit" class="mt-4 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                                Remove
                            </button>
                        </form>
                    </div>
                </article>
                {% endfor %}
            </div>
        </section>
        <br>
    </main>

    <footer class="bg-white shadow-lg">
        <div class="container mx-auto px-6 py-4">
            <div class="flex flex-col items-center">
                <div class="py-2">
                    <p class="text-gray-500 text-sm text-center">© 2024 NewsAggregator. All rights reserved.</p>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>
